*{
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
input {
	border: 0 none;
	outline: 0 none;
}
img {
	border: 0 none;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
strong {
	font-weight: normal;
}
i,
em {
	font-style: normal;
}
.tonglan {
	background: url("../imgs/banner.jpg")
}
